$site-max-width: 1200px;
$vawaa-grid-gutter: 2rem;
$large-grid-gutter: 6rem;

$breakpoint-small: 400px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-ipad: 1024px;
$breakpoint-xlarge: 1200px;
$tablet-height: 750px;