$vawaa-black: #202020;
$dark-black: #151515;
$pure-black: #000000;
$pure-white: #ffffff;
$dark-grey: #999999;
$darker-grey: #444;
$light-grey: #e5e5e5;
$soft-grey: #f4f2f1;
$brown-grey: #5c5c5c;

$accent-one: #216E82;
$accent-two: #d8879a;
$accent-three: #c7a57c;

$error-color: red;
$success-color: #216E82;

$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.2);
